header {
	width: 100%;
	background-color: white;
}
.kepala {
	position: fixed;
	top: 0px;
	display: flex;
	justify-content: space-between;
	width: 100%;
	background-color: white;
	margin-bottom: 100px;
}
li {
	display: inline;
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
	position: relative;
}
li {
	display: inline;
	margin-right: 25px
}
article {
	border-bottom: 1px solid #000;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
}
h1 {
	text-align: center;
}
section {
	background: white;
	margin-left: 150px;
	margin-right: 150px;
	margin-top: 70px;
}
footer {
	width: 100%;
    height: 50px;
    line-height: 50px;
	background-color: black;
	text-align: center;
}
h5 {
	color: white;
}
h3 {

}
body {
	background-image: url('../img/pattern.jpg');
	margin: 0px;
}